footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 0.5em 1em;
}

.footer p {
  margin: 0;
  font-weight: bold;
  text-align: right;
}

.footer a {
  color: var(--footer-link-font-color);
}
